body{background-color: rgb(20, 20, 20);color: white;}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#thick{
    border: 1px solid white;
}

#special{
    text-align: center;
}

#thin{
    border: 0.1px groove white;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

#gopherwalk{
    width: 200px;
    height: 10px;
}

#main{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:600px;
    height:740px;
    background:rgb(20, 20, 20);
}

#projects{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#aboutme{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#last{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:600px;
    height:220px;
    background:rgb(20, 20, 20);
}